#忽略所有文件夹名为.nuxt的
.nuxt/

#忽略所有文件夹名为target的
target/

#忽略所有文件夹名为logs的
logs/

#忽略所有文件名后缀为log的
*.log

#忽略所有文件夹名为.idea的
.idea/

#忽略所有文件夹名为.settings的
.settings/

#忽略所有文件夹名为dist的
dist/

#忽略所有文件夹名为node_modules的
node_modules/

#忽略所有文件名后缀为iml的
*.iml

#忽略所有文件名为package-lock.json的
package-lock.json

#忽略所有文件名为yarn.lock的
yarn.lock

#忽略所有文件夹名为.hbuilderx的
.hbuilderx/
.DS_Store
