<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longmaster.platform.mapper.KeywordReplyConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.longmaster.platform.entity.KeywordReplyConfig">
        <result column="id" property="id"/>
        <result column="logic_del" property="logicDel"/>
        <result column="insert_dt" property="insertDt"/>
        <result column="update_dt" property="updateDt"/>
        <result column="app_id" property="appId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="rule_content" property="ruleContent"/>
        <result column="reply_id" property="replyId"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="PageResultMap" type="com.longmaster.platform.dto.keyword.KeywordReplyConfigDTO" extends="BaseResultMap">
        <result column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="app_name" property="appName"/>
        <result column="message_type" property="messageType"/>
        <result column="message_name" property="messageName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        logic_del,
        insert_dt,
        update_dt,
        app_id, name, type, rule_content, reply_id, status
    </sql>

    <select id="pageSelect" resultMap="PageResultMap">
        SELECT
            a.id,
            a.name,
            a.app_id,
            b.name as app_name,
            c.id as customer_id,
            c.name AS customer_name,
            a.update_dt,
            a.type,
            d.type AS message_type,
            d.NAME AS message_name,
            a.weight,
            a.rule_content,
            a.reply_id
        FROM
            t_keyword_reply_config a
            LEFT JOIN t_application b ON a.app_id = b.id
            LEFT JOIN t_customer c ON b.customer_id = c.id
            LEFT JOIN t_message_template d ON a.reply_id = d.id

        <where>
            and a.logic_del = 0

            <if test="ew.name != null and ew.name !=''">
                and a.name like '%${ew.name}%'
            </if>

            <if test="ew.appId != null and ew.appId !=''">
                and a.app_id = #{ew.appId}
            </if>

            <if test="ew.customerId != null and ew.customerId !=''">
                and c.id = #{ew.customerId}
            </if>
        </where>
      order by a.weight desc, a.insert_dt desc
    </select>

    <select id="getOne" resultMap="PageResultMap">
        SELECT
            a.id,
            a.name,
            a.app_id,
            b.name as app_name,
            c.id as customer_id,
            c.name AS customer_name,
            a.update_dt,
            a.type,
            d.type AS message_type,
            d.NAME AS message_name,
            a.weight,
            a.rule_content,
            a.reply_id
        FROM
            t_keyword_reply_config a
            LEFT JOIN t_application b ON a.app_id = b.id
            LEFT JOIN t_customer c ON b.customer_id = c.id
            LEFT JOIN t_message_template d ON a.reply_id = d.id
            where a.id = #{id}
    </select>

</mapper>
