<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longmaster.platform.mapper.LogMessageTemplateEventMapper">

    <resultMap id="TemplateEventItemsMap" type="com.longmaster.platform.dto.statistical.TemplateEventItemsDTO">
        <result column="message_template_name" property="messageTemplateName"/>
        <result column="message_template_id" property="messageTemplateId"/>
        <result column="app_id" property="appId"/>
        <result column="app_name" property="appName"/>
        <result column="carrier_id" property="carrierId"/>
        <result column="carrier_name" property="carrierName"/>
        <result column="click_cnt" property="clickCnt"/>
        <result column="menu_click_cnt" property="menuClickCnt"/>
        <result column="sug_click_cnt" property="sugClickCnt"/>
        <result column="current_dt" property="currentDt"/>
    </resultMap>

    <select id="selectMessageTemplateEventItems" resultMap="TemplateEventItemsMap">
        SELECT
        a.message_template_name,
        a.message_template_id,
        a.app_id,
        a.carrier_id,
        count( message_template_id ) AS click_cnt,
        count( CASE WHEN type = 1 THEN message_template_id ELSE NULL END ) AS menu_click_cnt,
        count( CASE WHEN type = 2 THEN message_template_id ELSE NULL END ) AS sug_click_cnt,
        max(a.log_dt) AS current_dt,
        b.name as app_name,
        c.name as carrier_name

        FROM
        t_log_message_template_event a left join t_application b on a.app_id = b.id left join t_carrier c on a.carrier_id = c.id
        <where>
            <if test="ew.appIds.size() > 0">
                app_id in
                <foreach item="item" index="index" collection="ew.appIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="ew.carrierId != null and ew.carrierId !=''">
                and carrier_id = #{ew.carrierId}
            </if>

            <if test="ew.name != null and ew.name !=''">
                and message_template_name like '%${ew.name}%'
            </if>

            <if test="ew.beginDt != null and ew.beginDt !=''">
                and DATE(log_dt) &gt;= #{ew.beginDt}
            </if>

            <if test="ew.endDt != null and ew.endDt !=''">
                and DATE(log_dt) &lt;= #{ew.endDt}
            </if>
        </where>
        GROUP BY
        message_template_id,
        carrier_id,
        app_id
        ORDER BY current_dt desc
    </select>

</mapper>
