<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longmaster.platform.mapper.SensitiveWordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.longmaster.platform.entity.SensitiveWords">
        <id column="id" property="id"/>
        <result column="word" property="word"/>
        <result column="remark" property="remark"/>
        <result column="logic_del" property="logicDel"/>
        <result column="insert_dt" property="insertDt"/>
        <result column="update_dt" property="updateDt"/>
    </resultMap>

    <select id="pageSelect" resultMap="BaseResultMap">
        select id , word ,logic_del, remark,insert_dt,update_dt from t_sensitive_words
        <where>
            logic_del = 0
            <if test="params.word!=null and params.word!=''">
                and word like '%${params.word}%'
            </if>
        </where>
        order by insert_dt desc
    </select>

</mapper>
