<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longmaster.admin.mapper.AuthAdminRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.longmaster.admin.entity.AuthAdminRole">
        <id column="id" property="id" />
        <result column="admin_id" property="adminId" />
        <result column="role_id" property="roleId" />
        <result column="insert_dt" property="insertDt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_id, role_id, insert_dt, carrier_ids
    </sql>

    <!--获取管理员角色-->
    <select id="selectAdminRoles" resultType="com.longmaster.admin.entity.AuthRoles">
        SELECT
        b.id,
        b.`code`,
        b.role_name,
        b.carrier_ids,
        b.client_ids
        FROM
        t_auth_admin_role a
        LEFT JOIN t_auth_roles b ON a.role_id = b.id
        WHERE
        a.admin_id = #{adminId}
        AND b.`status` = 0
    </select>

</mapper>
